MYSQL_DATABASE=sakezuki
MYSQL_HOST=localhost
MYSQL_PORT=3307
MYSQL_USER=sakezuki
MYSQL_PASSWORD=YOUR_PASSWORD
MYSQL_ROOT_PASSWORD=YOUR_ROOT_PASSWORD
GEMINI_API_KEY=YOUR_Gemini_API_Key
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=